.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3fff2;
  width: 50%;
  height: 100vh;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.login-form-container {
  width: 400px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.register-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-top: 25px;
  font-weight: 500;
  font-size: 16px;
}

.register-container a {
  text-decoration: none;
  color: #1e9e6a;
  font-weight: 600;
}
