<section class="main-container">
  <div class="left-container">
    <div class="main-img">
      <img src="assets/imgs/logo.png" alt="Logo" />
    </div>
  </div>
  <div class="right-container">
    <div class="login-form-container">
      <div class="form-header">
        <p>Bem-vindo de volta</p>
        <h2>Faça login na sua conta</h2>
      </div>

      <div class="form-body">
        <form>
          <label for="email">E-mail</label>
          <input type="email" placeholder="exemplo@gmail.com" />
          <label for="senha">Senha</label>
          <input type="password" placeholder="0123456789" />
          <div class="form-footer">
            <div class="remember-me">
              <input type="checkbox" />
              <p>Lembre de mim</p>
            </div>
            <a routerLink="">Esqueceu sua senha?</a>
          </div>
          <div class="form-buttons">
            <button>Entrar na Conta</button>
            <button class="google_login-button">
              <img src="assets/imgs/google-icon.png" alt="" />
              Ou faça login com o Google
            </button>
          </div>
          <div class="register-container">
            <p>Não tem uma conta?</p>
            <a href="">Cadastre-se</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
