<section class="main-container">
  <div class="left-container">
    <div class="main-img">
      <app-main-img altText="Main Logo"></app-main-img>
    </div>
  </div>
  <div class="right-container">
    <div class="login-form-container">
      <app-form-header></app-form-header>
      <div class="form-body">
        <form>
          <app-form-input
            labelText="E-mail"
            inputType="email"
            inputPlaceholder="exemplo@gmail.com"
          ></app-form-input>
          <app-form-input
            labelText="Senha"
            inputType="password"
            inputPlaceholder="0123456789"
          ></app-form-input>
          <!-- form footer -->
          <app-form-footer></app-form-footer>
          <div class="form-buttons">
            <button>Entrar na Conta</button>
            <button class="google_login-button">
              <img src="assets/imgs/google-icon.png" alt="" />
              Ou faça login com o Google
            </button>
          </div>
          <div class="register-container">
            <p>Não tem uma conta?</p>
            <a href="">Cadastre-se</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
